
<head>
<link rel="stylesheet" href="app/assets/stylesheets/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rock+3D&display=swap" rel="stylesheet">
<link href= "<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300&family=Rock+3D&display=swap" rel="stylesheet">

</head>

<body>

<p id="notice"><%= notice %></p><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300&family=Rock+3D&display=swap" rel="stylesheet">

<h1>Bricabrac</h1>
<br/>
<p>Des idées de recettes ? Un coup de fourchette et le temps s'arrête. L'application qui laisse place à l'imagination. Ainsi, écrivez, inventez toutes sortes de recettes farfelues ou encore revisitées.


<table>
  <thead>
    <tr>

      <th>Ingredients</th>
      <th>Steps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.steps %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>

</body>
